@model eWallet.Areas.Admin.Models.DashboardModel
@{
    ViewBag.Title = "Admin Index";
}

<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Grants</span>
        <div class="count blue">@Model.GrantCount</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Terminated Grants</span>
        <div class="count blue">@Model.TerminatedGrantCount</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Agents</span>
        <div class="count green">@Model.AgentCount</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Pending Agents</span>
        <div class="count green">@Model.PendingAgentCount</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Farmers</span>
        <div class="count blue">@Model.FarmerCount</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Pending Farmers</span>
        <div class="count blue">@Model.PendingFarmerCount</div>
    </div>
</div>


<div class="row">

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Grants Summary</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Grants Available vs Approved</h4>
                @foreach (var grant in Model.ApprovedGrants)
                {
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>@grant.Title</span>
                        </div>
                        @{
                            var grantsSpent = grant.Farmers.Where(el => el.Status == eWallet.Models.FarmerGrantStatus.Approved).Sum(el => el.ApprovedAmount);
                            var percentSpent = ((grant.MonetaryWorth - grantsSpent) / grant.MonetaryWorth) * 100;
                        }
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@percentSpent" aria-valuemin="0" aria-valuemax="100" style="width: @percentSpent%;">
                                    <span class="sr-only">@percentSpent% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span>@grant.MonetaryWorth</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Terminated Grants Summary</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Grants Terminated</h4>
                @foreach (var grant in Model.TerminatedGrants)
                {
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>@grant.Title</span>
                        </div>
                        @{
                            var grantsSpent = grant.Farmers.Where(el => el.Status == eWallet.Models.FarmerGrantStatus.Approved).Sum(el => el.ApprovedAmount);
                            var percentSpent = ((grant.MonetaryWorth - grantsSpent) / grant.MonetaryWorth) * 100;
                        }
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@percentSpent" aria-valuemin="0" aria-valuemax="100" style="width: @percentSpent%;">
                                    <span class="sr-only">@percentSpent% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span>@grant.MonetaryWorth</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                            }
            </div>
        </div>
    </div>
</div>