@using eWallet.Extensions
<div class="menu_section">
    <h3>Farmer's Menu</h3>
    <ul class="nav side-menu">
        <li class="@Html.IsSelected(area: "Farmers", controller:"Dashboard")">
            <a>
                <i class="fa fa-home"></i> Home
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li>
                    <a href="@Url.Action("Index", "Dashboard", new {Area="Farmers"})">Dashboard</a>
                </li>
            </ul>
        </li>
        <li class="@Html.IsSelected(area: "Farmers", controller:"MyGrants")">
            <a>
                <i class="fa fa-edit"></i> My Grants
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li>
                    <a href="@Url.Action("Index", "MyGrants", new {Area="Farmers"})">Manage</a>
                </li>
            </ul>
        </li>
        <li class="@Html.IsSelected(area: "Farmers", controller:"MyShop")">
            <a>
                <i class="fa fa-desktop"></i> My Shop
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li>
                    <a href="@Url.Action("Index", "MyProducts", new {Area="Farmers"})">Manage</a>
                </li>
            </ul>
        </li>
        <li class="@Html.IsSelected(area: "Farmers", controller:"MyWallet")">
            <a>
                <i class="fa fa-table"></i> Fund Wallets
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li>
                    <a href="@Url.Action("Index", "MyWallet", new {Area="Farmers"})">Manage</a>
                </li>
            </ul>
        </li>
        <li class="@Html.IsSelected(area: "Farmers", controller:"MyOrders")">
            <a>
                <i class="fa fa-table"></i> My Orders
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li>
                    <a href="@Url.Action("Index", "MyOrders", new {Area="Farmers"})">Pending Orders</a>
                </li>
                <li>
                    <a href="@Url.Action("Completed", "MyOrders", new {Area="Farmers"})">Completed Orders</a>
                </li>
            </ul>
        </li>
    </ul>
</div>